/* ------------------------ HTML Reset ----------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------- Feather ------------------------- */

/* HTML Housekeeping */
* {box-sizing: border-box;}
html, body {
    font-size: 100%;
    margin: 0;
}
h1 {
    font-size: 4.2em;
    line-height: 4.62em;
    margin: 2.1em 0 1.68em 0;
}
h2 {
    font-size: 3.56em;
    line-height: 3.916em;
    margin: 1.78em 0 1.424em 0;
}
h3 {
    font-size: 2.92em;
    line-height: 3.212em;
    margin: 1.46em 0 1.168em 0;
}
h4 {
    font-size: 2.28em;
    line-height: 2.508em;
    margin: 1.14em 0 0.912em 0;
}
h5 {
    font-size: 1.64em;
    line-height: 1.804em;
    margin: 0.82em 0 0.656em 0;
}
h6 {
    font-size: 1em;
    line-height: 1.1em;
    margin: 0.5em 0 0.4em 0;
}
label {
    display: inline-block;
    margin-top: 0.1875em;
    margin-bottom: 0.1875em;
}
input, textarea {
    padding: 0.5em;
    border: 1px solid #eee;
    border-radius: 3px;
}

/* Rows */
.row {
    display: block;
    overflow: hidden;
    margin-bottom: 2%;
}

/* Images */
.feather-img {width: 100%;}

/* Tools */
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.element-center-inner {
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
.element-padded {
    padding: 1.25em !important;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.clearfix {
    clear: both;
}
.no-gutter {
    margin-bottom: 0 !important;
}

/* Large Columns */
.l-12 {width: 100%;}
.l-11 {width: 91.666%;}
.l-10 {width: 83.333%;}
.l-9 {width: 75%;}
.l-8 {width: 66.666%;}
.l-7 {width: 58.333%;}
.l-6 {width: 50%;}
.l-5 {width: 41.666%;}
.l-4 {width: 33.333%;}
.l-3 {width: 25%;}
.l-2 {width: 16.666%;}
.l-1 {width: 8.333%;}

.l-12, .l-11, .l-10, .l-9,
.l-8, .l-7, .l-6, .l-5,
.l-4, .l-3, .l-2, .l-1 {
    float: left;
}
.l-12, .l-11, .l-10, .l-9,
.l-8, .l-7, .l-6, .l-5,
.l-4, .l-3, .l-2, .l-1 {
	padding-left: 1%;
    padding-right: 1%;
}

/* Media Queries */
@media screen and (max-width: 60em) {
    .element-padded {
        padding: 1em !important;
    }
}
@media screen and (max-width: 45em) {
    .element-padded {
        padding: 0.5em !important;
    }
    /* Medium Columns */
	.m-12 {width: 100%;}
	.m-11 {width: 91.666%;}
	.m-10 {width: 83.333%;}
	.m-9 {width: 75%;}
	.m-8 {width: 66.666%;}
	.m-7 {width: 58.333%;}
	.m-6 {width: 50%;}
	.m-5 {width: 41.666%;}
	.m-4 {width: 33.333%;}
	.m-3 {width: 25%;}
	.m-2 {width: 16.666%;}
	.m-1 {width: 8.333%;}
    
    .m-12, .m-11, .m-10, .m-9,
    .m-8, .m-7, .m-6, .m-5,
    .m-4, .m-3, .m-2, .m-1 {
        float: left;
    }
    .m-12, .m-11, .m-10, .m-9,
    .m-8, .m-7, .m-6, .m-5,
    .m-4, .m-3, .m-2, .m-1 {
        padding-left: 1%;
    	padding-right: 1%;
    }
}
@media screen and (max-width: 30em) {
    /* Small Columns */
	.s-12 {width: 100%;}
	.s-11 {width: 91.666%;}
	.s-10 {width: 83.333%;}
	.s-9 {width: 75%;}
	.s-8 {width: 66.666%;}
	.s-7 {width: 58.333%;}
	.s-6 {width: 50%;}
	.s-5 {width: 41.666%;}
	.s-4 {width: 33.333%;}
	.s-3 {width: 25%;}
	.s-2 {width: 16.666%;}
	.s-1 {width: 8.333%;}
    
    .s-12, .s-11, .s-10, .s-9,
    .s-8, .s-7, .s-6, .s-5,
    .s-4, .s-3, .s-2, .s-1 {
        float: left;
    }
    .s-12, .s-11, .s-10, .s-9,
    .s-8, .s-7, .s-6, .s-5,
    .s-4, .s-3, .s-2, .s-1 {
        padding-left: 1%;
    	padding-right: 1%;
    }
    .s-12, .s-11:last-child, .s-10:last-child, .s-9:last-child,
    .s-8:last-child, .s-7:last-child, .s-6:last-child, .s-5:last-child,
    .s-4:last-child, .s-3:last-child, .s-2:last-child, .s-1:last-child {
        margin-right: 0;
    }
}
